.button-primary {
  padding: rem(20px 32px);
  border-radius: rem(10px);
  font-family: $inter;
  font-size: rem(16px);
  font-weight: $fw-med;
  color: $light;
  background-color: $primary;
  border: 2px solid $primary;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    border: 2px solid $primary;
    background-color: $light;
    color: $primary;
  };
}

.button-light {
  padding: rem(14px 32px);
  border-radius: rem(10px);
  font-family: $inter;
  font-size: rem(16px);
  font-weight: $fw-med;
  background-color: $light;
  color: $primary;
  border: 2px solid $light;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    border: 2px solid $light;
    background-color: $primary;
    color: $light;
  };
}

.button-secondary {
  padding: rem(20px 32px);
  border-radius: rem(10px);
  font-size: rem(16px);
  font-family: $inter;
  font-weight: $fw-med;
  background-color: $secondary;
  color: $primary;
  border: 2px solid $secondary;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    border: 2px solid $secondary;
    background-color: $primary;
    color: $light;
  };
}