.card {
  margin: rem(50px 0);
  // max-width: rem(360px);
  height: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: rem(10px);
}

.card__image-container {
  overflow: hidden;
  max-height: rem(140px);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-content {
  padding: rem(25px);
  max-height: rem(125px);
}

.card-content__title {
  margin: rem(0 0 20px 0);
  color: $primary;
  font-size: rem(24px);
  font-family: $inter;
  font-weight: $fw-semi;
}

.card-content__body {
  margin: 0;
  color: $primary;
  font-size: rem(14px);
  font-family: $inter;
  font-weight: $fw-reg;
}