.footer {
  position: relative;
  background: linear-gradient(90deg, rgba($primary, 0.75), rgba($primary, 1));

  @include size($lg) {

  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include size($lg) {
    flex-direction: row;
    padding: rem(200px 200px 50px 200px);
  }
}

.footer-column {
}

.footer__logo {

}

.footer-socials {
  display: flex;
  align-items: center;

  @include size($lg) {
    justify-content: center;
  }
}

.footer-socials__logo {
  max-width: rem(75px);
  padding: rem(16px);
  cursor: pointer;
}

.footer__list {
  padding: rem(0 20px);
  margin-top: rem(50px);
  list-style: none;
}

.footer__list-title {
  color: $light;
  font-family: $inter;
  font-size: rem(32px);
  font-weight: $fw-semi;
}

.footer__list-item {
  padding: rem(20px 0);
  color: $light;
  font-family: $inter;
  font-size: rem(16px);
  font-weight: $fw-reg;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $light;
  }
}

.footer-legal {
  color: $light;
  font-family: $inter;
  font-size: rem(16px);
  font-weight: $fw-reg;
  padding: rem(50px 20px);

  @include size($lg) {
    padding: rem(50px 200px);
  }
}