.form {
  padding: rem(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__label {
  margin-bottom: rem(10px);
  font-family: $inter;
  font-size: rem(16px);
  font-weight: $fw-med;
  color: $primary;
}

.form__input {
  margin-bottom: rem(20px);
  padding: rem(15px);
  max-width: rem(600px);
  border: 1px solid $primary;
  border-radius: rem(5px);
}

.form__submit {
  padding: rem(15px 55px);
  align-self: flex-start;
}
