.header {
  position: absolute;
  display: flex;
  padding: rem(0 20px);
  width: 100vw;
  justify-content: space-between;
  background-color: rgba($primary, 0.8);
  z-index: 10;

  @include size($xl) {
    padding: rem(0 100px);
  }

  @include size($xxl) {
    padding: rem(0 200px);
  }
}

.header__logo {
  width: rem(40px);
  height: auto;
  z-index: 3;

  @include size($md) {
    width: rem(78px);
  }
}
