.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: linear-gradient(45deg, #FFFFFF, #FFFFFF);

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 2586.691px;
    height: 211.579px;
    flex-shrink: 0;
    background: url('../assets/accents/hero-curves.svg');
  }
}

.hero__background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0%;
}

.hero-content {
  position: absolute;
  top: 15%;
  left: 0;
  padding-left: rem(50px);
  max-width: 65%;
}

.hero__title {
  font-family: $inter;
  font-weight: $fw-black;
  font-size: rem(72px);
  color: $primary;
}

.hero__subhead {
  font-family: $inter;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: $primary;
}