.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: rem(1280px);
  margin: 0 auto;
}

.section__title {
  font-family: $inter;
  font-size: rem(48px);
  font-weight: $fw-bold;
  text-align: center;
  color: $primary;
}

.section__subhead {
  font-family: Inter;
  font-size: rem(24px);
  font-weight: $fw-reg;
  text-align: center;
  color: $primary;
}

.section-content {
  width: 50%;
}

.section-content__title {
  font-family: Inter;
  font-size: rem(36px);
  font-weight: $fw-med;
  text-align: left;
  color: $primary;
}

.section-content__body {
  font-family: Inter;
  font-size: rem(18px);
  font-weight: $fw-light;
  text-align: left;
  color: $primary;
}

.section__slider {
  margin: rem(30px 0);
}