.section__title {
  font-family: $inter;
  font-size: rem(48px);
  font-weight: $fw-bold;
  text-align: center;
  color: $primary;
}

.section__subhead {
  font-family: Inter;
  font-size: rem(24px);
  font-weight: $fw-reg;
  text-align: center;
  color: $primary;
}