.services {
  position: relative;
  padding: rem(100px 0);

  &:after {
    content: "";
    position: absolute;
    top: -300px;
    width: 100vw;
    height: 30%;
    flex-shrink: 0;
    background: url('../assets/accents/hero-curves.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

