.subpage {

}
.subpage-hero {
  position: relative;
  max-height: rem(600px);
  background-color: $primary;
  overflow: hidden;
}

.subpage-hero__image {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.subpage-hero__content {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}

.subpage-hero__title {
  font-family: $inter;
  font-weight: $fw-black;
  font-size: rem(36px);
  color: $light;
  text-align: center;

  @include size($lg) {
    font-size: rem(60px);
  }

  @include size($xl) {
    font-size: rem(72px);
  }

  @include size($xxl) {
    font-size: rem(104px);
  }
}

.subpage-hero__subhead {

}

.subpage-container {
  padding: rem(100px 150px);
}

.subpage__title {
  font-family: $inter;
  font-size: rem(32px);
  font-weight: $fw-bold;
  text-align: left;
  color: $primary;
}

.subpage__subhead {
  margin: rem(5px 0);
  font-family: Inter;
  font-size: rem(18px);
  font-weight: $fw-reg;
  text-align: left;
  color: $primary;
}