* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  position: relative;
}

.container {
  margin: rem(0 20px);
  
  @include size($md) {
    max-width: rem(1440px);
    margin: 0 auto;
  }
}

.button {
  z-index: 1;
  cursor: pointer;
}
