$primary: #283D49;
$secondary: #F5DC19;
$light-blue: #C1DAEA;
$light: #f4f4f4;

// Fonts
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;

// Font Weights
$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-extra: 800;
$fw-black: 900;

// Breakpoints
$xxl: 1920px;
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
$tiny: 320px;